@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

li {
    list-style: none;
}


/*----------------------------header----------------------------*/
header {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
}

.content-header {
    height: 70px;
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box  {
    display: flex;
    align-items: center;
}

.logo-box img {
    height: 70px;
    width: 70px;
}

.logo-text {
    padding-left: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.link {
    display: inline-block;
    padding-left: 50px;
    font-size: 18px;
    text-transform: capitalize;
}
/*----------------------------Section-home----------------------------*/

section {
    width: 100%;
    background-color: #1f2937;
}

.home {
    height: 70vh;
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .content {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.home  img {
    height: 264px;
    width: 45%;
    object-fit: cover;
}

.main-title {
    font-size: 48px;
    text-transform: initial;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #f9faf8;
}

.button {
    padding: 10px 40px;
    border-radius: 8px;
    color: #f9faf8;
    background-color: #3882f6;
    text-transform: capitalize;
    font-weight: 500;
}

/*----------------------------Section-2----------------------------*/

.second {
    width: 100%;
    background-color: #f9faf8;
}

.information {
    height: 60vh;
    width: 1240px;
    margin: 0 auto;
}

.information .title {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    height: 30vh;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.item-gallery {
    height: auto;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-gallery img {
    height: 160px;
    width: 160px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.item-gallery p {
    text-align: center;
}

/*----------------------------Section-citation----------------------------*/

.three {
    width: 100%;
    background-color: #e5e7eb;
}

.citation {
    height: 50vh;
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.citation .content {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.citation em {
    font-size: 36px;
    font-weight: 200;
    color: #1f2937;
}

.citation p {
    font-size: 18px;
    color: #1f2937;
    font-weight: bold;
}

/*----------------------------Contact----------------------------*/
.four {
    width: 100%;
    background-color: #f9faf8;
}

.contact {
    height: 40vh;
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .content {
    height: 20vh;
    width: 90%;
    padding: 50px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
}

.contact .content .one{
    font-weight: bold;
    font-size: 18px;
}

.btn-second {
    background-color: none;
    color: #f9faf8;
    border: 2px solid #f9faf8;
}

/*----------------------------Footer----------------------------*/
footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #1f2937;
}